{% extends 'base.html' %}
{% block title %}BGD Tour & Travel | Package Details{% endblock %}
{% load static %}
{% block body %}



<style>
    .btn{
  display: inline-block;
  margin-top: 1rem;
  background:var(--orange);
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:rgba(255, 165, 0,.2);
  color:var(--orange);
}
</style>



<div class="container" style="margin-left: 10%; margin-right: 10%; margin-top: 100px; margin-bottom: 5%;">

    <div class="row">
        <div class="clo-sm-6 content" style="font-size: 30px; text-align: center;">
            <h3>"{{ package.tour_place }}"</h3>
        </div>

        <br>
        <br>

        <div class="clo-sm-6">
            <img src="{{ package.packages_image.url }}" width="100%">
        </div>

        <br>
        <br>

        <h2>
            {{ package.tour_place_description | safe }}
        </h2>
    </div>

</div>

{% endblock %}