{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading">
        <span>s</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        
         
        <div class="box">
            <i class="fas fa-plane"></i>
            <a href="#">
                <h3>Air Ticket</h3>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
        </div>
        
        
        <div class="box">
            <i class="fas fa-bus"></i>
            <a href="#"><h3>Bus Ticket</h3></a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
        </div>


        <div class="box">
            <a href="https://forms.gle/Qu6Hqq144wjvDnCE6" target="_blank"><i class="fas fa-passport"></i></a>
            <a href="https://forms.gle/Qu6Hqq144wjvDnCE6" target="_blank"><h3>Passport Services</h3></a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
        </div>


        <div class="box">
            <a href="{% url 'services_app:visa' %}"><i class="fab fa-cc-visa"></i></a>
            <a href="{% url 'services_app:visa' %}"><h3>Visa Processing</h3></a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
        </div>


        <div class="box">
            <i class="fas fa-hotel"></i>
            <a href="#"><h3>Hotel Booking</h3></a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
        </div>


        <div class="box">
            <i class="fas fa-hand-holding-usd"></i>
            <a href="#"><h3>Money Transfer</h3></a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
        </div>


        
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <a href="#"><h3>safty guide</h3></a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore commodi earum, quis voluptate exercitationem ut minima itaque iusto ipsum corrupti!</p>
        </div>


    </div>

</section>

<!-- services section ends -->

{% endblock %}