<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">


{% extends 'base.html' %}
{% load static %}
{% block body %}


<link rel="stylesheet" href="{% static 'css/flight.css' %}">



<!-- home section starts  -->
<section class="home" id="home">

    {% if home %}
    {% comment %} {% for homes in home %} {% endcomment %}
    <div class="content">
        <h3>{{ home.video_title }}</h3>
        <p>{{ home.video_short_description }}</p>
        {% comment %} <a href="#" class="btn">discover more</a> {% endcomment %}
    </div>

    <div class="video-container">
        <video src="{{ home.video_uplode.url }}" id="video-slider" loop autoplay muted></video>
    </div>
    {% comment %} {% endfor %} {% endcomment %}

    {% else %}









    <div class="container rounded shadow-sm" style="margin-top: 200px;">
        <form action="">
            <div class="row">
                <div class="col-md-2 pe-0 col-sm-12">
                    <div class="btn radio-btn mb-3"> <label class="radio"> <input type="radio" value="a" name="book"
                                checked> Roundtrip <span></span> </label> </div>
                </div>
                <div class="col-md-2 pe-0 col-sm-12">
                    <div class="btn radio-btn mb-3"> <label class="radio"> <input type="radio" value="a" name="book"> One
                            way <span></span> </label> </div>
                </div>
                <div class="col-md-2 pe-0 col-sm-12">
                    <div class="btn radio-btn mb-3"> <label class="radio"> <input type="radio" value="a" name="book">
                            Multi-City <span></span> </label> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">FLYING FROM</p> <input class="inputbox" placeholder="City or Airport" type="text">
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">FLYING TO</p> <input class="inputbox" placeholder="City or Airport" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">DEPARTING</p> <input class="inputbox textmuted" type="date">
                    </div>
                </div>
                <div class="col-md-6 col-12 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">RETURNING</p> <input class="inputbox textmuted " type="date">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">ADULTS(18+)</p> <select class="border-0 outline-none">
                            <option value="" hidden selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">CHILDREN(0-17)</p> <select class="border-0 outline-none">
                            <option value="" hidden selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="form-control d-flex flex-column">
                        <p class="h-blue">TRAVEL CLASS</p> <select class="border-0 outline-none">
                            <option value="" hidden selected>Class</option>
                            <option value="1">Economy</option>
                            <option value="2">Premium</option>
                            <option value="3">Business</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn btn-primary form-control text-center">SHOWN FLIGHTS</div>
        </form>
    </div>










    <div class="content">


        <!-- <h3>adventure is worthwhile</h3>
        <p>dicover new places with us, adventure awaits</p> -->
        <!-- <a href="#" class="btn">discover more</a> -->
    </div>

    <div class="video-container">
        <video src="{% static 'images/vid-1.mp4' %}" id="video-slider" loop autoplay muted></video>
    </div>


    {% endif %}


</section>
<!-- home section ends -->

{% endblock %}